header nav {
    display: flex;               /* activa flexbox */
    justify-content: space-between; /* separa enlaces a la izquierda y foto a la derecha */
    align-items: center;         /* centra verticalmente */
    padding: 10px;
    background-color: rgb(200, 200, 200);
}

footer{
    background-color: rgb(200, 200, 200);
    text-align: center;
    padding: 10px;
}

.post {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 15px;
  margin: 10px auto;
  max-width: 400px;
  background: white;
}